corrupted_graphs/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.whl
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
